.header{
    padding: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: rgb(82, 38, 6);
}

#logo-image{
    margin: 10px;
    padding-left: 40px;
    height: 30px;
    width: 200px;
}

.search{
    display: flex;
    align-items: center;
}

#search-bar{
    height: 30px;
    width: 900px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    margin-left: 25px;
}

#search-image{
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

#orders{
    text-decoration: none;
    color: rgb(241, 238, 238);
    padding-left: 50px;
    font-size: large;
    font-weight: bold;
}

.cart{
    display: flex;
    align-items: center;
    margin-left: 80px;
    text-decoration: none;
}

#cart-image{
    height: 35px;
    width: 35px;
}

#cart-count{
    position: absolute;
    top: 16px;
    right: 85px;
    font-weight: bold;
}

#cart-text{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(253, 242, 242);
    font-weight: bolder;
}